@blue: #6eb6ff;
@blue2: #578fcc;
@pink: #ff0072;
@white: #ffffff;
@black: #000000;

body {
	background: @blue;
	color: @white;
	font-family: Arial;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

#mainContainer {
	height: 100%;
	padding: 50px;
	// background-image: url("../img/nuvem.png");

	header {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		h1 {
			text-indent: -9999px;
			background: url("../img/logo.png");
			width: 212px;
			height: 54px;
			margin-right: 60px;
		}

		button,
		input {
			text-transform: uppercase;
			background: none;
			outline: none;
			border-radius: 4px;
			padding: 0.4em 0.6em;
			border: 2px solid @white;
			color: @white;
			letter-spacing: 1px;
			font-size: 1.0em;
			&.pink {
				border-color: @pink;
				color: @pink;
			}
		}

		button {
			cursor: pointer;
		}

		#roomControls {
			margin-top: 25px;
			display: flex;

			#details {
				margin-right: 25px;
				font-size: 0.9em;
				margin-top: 4px;
			}

			#controls {
				font-size: 1.1em;
			}

			.goToNewRoomSmall {
				display: none !important;
			}

			input {
				margin-right: 5px;
			}

			button.qrcode {
				padding: 0.4em 0.2em 0.2em 0.4em;
				margin-right: 5px;
				i {
					display: block;
					text-indent: -9999px;
					background-image: url("../img/qr-code-icon.png");
					background-size: 1.4em;
					height: 1.4em;
					width: 1.4em;
					position: relative;
					top: -0.1em;
					left: -0.1em;
				}
			}
		}
	}
}

#mainLoad {
	display: none;
}

.loading {
	background-image: url("../img/loading.gif");
	width: 194px;
	height: 194px;
	margin: 50px auto;
}

#draggingFile {
	width: 100vw;
	height: 100vh;
	box-shadow: inset 0 0 0 10px @pink;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	overflow: hidden;
}
.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted @white;
}
.tooltip .tooltiptext {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.5s linear;
	width: 128px;
	background-color: @white;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 10px;
	position: absolute;
	z-index: 1;
	top: 150%;
	left: 50%;
	margin-left: -74px;
}
.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent @white transparent;
}
.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}
.clearfix {
	clear: both;
}
#template-container {
	display: none;
}
#msg {
	display: none;
}

#files {
	margin: 30px -10px;
	display: flex;
	flex-wrap: wrap;
	position: relative;

	.file {
		background: @white;
		padding: 20px;
		color: @black;
		margin: 10px;
		border-radius: 5px;
		// width: 170px;
		height: 140px;
		flex: 1 0 200px;
		position: relative;

		.upload-status {
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			font-size: 20px;
			top: 0;
			left: 0;
			background-color: rgba(255, 255, 255, 0.7);
			width: 100%;
			height: 100%;
			border-radius: 5px;
			display: none;
		}

		&.uploading {
			.upload-status {
				display: flex;
				color: @pink;
			}
		}

		&#file-send-file {
			color: @blue2;
			display: none;

			.cloud {
				cursor: pointer;
				background-image: url("../img/blue-cloud.png");
				background-size: cover;
				background-repeat: no-repeat;
				width: 103px;
				height: 95px;
				margin: 0 auto;
			}

			.clooud-label {
				font-size: 1.2em;
				margin-top: 15px;
				text-align: center;
				cursor: pointer;
			}
		}

		.avatar {
			width: 100%;
			height: 120px;

			.avatar-img {
				width: 100%;
				height: 120px;
				background-size: cover;
				background-position: center;
			}

			.avatar-icon {
				text-align: center;

				span {
					font-size: 100px;
					color: @blue2;
				}
			}
		}

		.info {
			margin-top: 7px;
			color: @blue2;
			display: flex;
			justify-content: space-between;

			a {
				color: @blue2;
				text-decoration: none;
				font-size: 13px;
				width: 140px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				display: block;
			}
		}
	}

	#cloud {
		cursor: pointer;
		background-image: url("../img/cloud.png");
		background-repeat: no-repeat;
		position: absolute;
		top: 100px;
		left: 50%;
		width: 148px;
		height: 180px;
		margin-left: -74px;
		display: none;
		flex-flow: row;
		justify-content: center;
		align-items: flex-end;
		text-align: center;
		font-size: 1.2em;
		color: @white;
	}
}

#error-page {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: @blue;
	z-index: 100;
	display: none;
	flex-flow: column;
	justify-content: center;
	align-items: center;


	.logo {
		text-indent: -9999px;
		background: url("../img/logo.png");
		width: 212px;
		height: 54px;
	}

	.error-msg {
		margin-top: 60px;
		font-size: 30px;
		width: 50vw;
		text-align: center;

		a {
			color: @pink;
			text-decoration: none;
		}
	}
}

@media screen and (max-width: 1000px) {
	#mainContainer {
		height: 100%;
		padding: 20px;

		header {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			flex-flow: row wrap;

			#roomControls {
				margin-top: 5px;
				flex-basis: 100%;
				justify-content: center;
			}

			h1 {
				flex-basis: 100%;
				margin-right: 0;
				background-repeat: no-repeat;
				background-position: center;
			}
		}
	}
}

@media screen and (max-width: 750px) {
	#mainContainer {
		header {
			h1 {
				margin-right: 0;
			}

			#roomControls {
				margin-top: 25px;
				display: flex;
				flex-wrap: wrap-reverse;
				justify-content: center;

				#details {
					display: none;
					margin-top: 20px;
					text-align: center;
					margin-right:  0;
				}
			}
		}
	}
}

@media screen and (max-width: 530px) {
	#mainContainer {
		padding: 20px 7px;

		header {
			#roomControls {
				input {
					width: 90px;
				}
			}
		}
	}
}

@media screen and (max-width: 380px) {
	#mainContainer {

		header {
			#roomControls {
				.goToNewRoom {
					display: none;
				}

				.goToNewRoomSmall {
					display: inline-block !important;
				}
			}
		}
	}
}

@media (min-width: 410px) {
	#files .file {
		max-width: calc(~"50% - 60px");
	}
}
@media (min-width: 650px) {
	#files .file {
		max-width: calc(~"(100%/3) - 60px");
	}
}
@media (min-width: 850px) {
	#files .file {
		max-width: calc(~"25% - 60px");
	}
}
@media (min-width: 1100px) {
	#files .file {
		max-width: calc(~"20% - 60px");
	}
}
