@import "global-style.scss";

.statusBar {
    display: flex;    
    align-items: center;

    .infoBar {
        margin-right: 40px;
        font-size: 1em;
    }

    .roomUrl {
        font-size: 1.3em;
        margin-right: 20px;
    }

    .buttonWrapper {
        font-size: 1.3em;
    }
}

@media screen and (max-width: 750px) {
    .infoBar {
        display: none;
        margin-top: 20px;
        text-align: center;
        margin-right:  0;
    }	
}