@import "global-style.scss";

.filebox {
    background: #fff;
    padding: 20px;
    color: #000;
    margin: 10px;
    border-radius: 5px;
    // width: 170px;
    height: 140px;
    flex: 1 0 200px;
    position: relative;
}

@media (min-width: 410px) {
	.filebox {
		max-width: calc(50% - 60px);
	}
}

@media (min-width: 650px) {
	.filebox {
		max-width: calc((100%/3) - 60px);
	}
}

@media (min-width: 850px) {
	.filebox {
		max-width: calc(25% - 60px);
	}
}

@media (min-width: 1100px) {
	.filebox {
		max-width: calc(20% - 60px);
	}
}
