.cloudContainer {
	cursor: pointer;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 1.2em;
	display: flex;
	flex-direction: column;

	&.white {
		color: #fff;
		
		.cloud {
			background-image: url("./cloud.png");
		}
	}

	&.blue {
		color: #578fcc;

		.cloud {
			background-image: url("./blue-cloud.png");
		}
	}

	.cloud {
		background-repeat: no-repeat;
		background-size: contain;

		&.medium {
			width: 103px;
			height: 95px;
			
		}

		&.big {
			width: 148px;
			height: 180px;
		}
	}
	
	& > span {
		margin-top: 20px;
	}
}

.fileInput {
	display: none;
}