@import "global-style.scss";

* {
    margin: 0;
    padding: 0;
}

body {
    background: $primary-color;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

.container {
    padding: 50px 80px;
}

.draggingFile {
    position: fixed;
    width: calc(100vw - 20px);
    height: calc(100vh - 20px);
    border: 10px solid $secondary-color;
    top: 0;
    left: 0;
}